#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: HCo Gotham SSm, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}  
.github-button {
  height: 30px;
  margin-right: 10px;
  display: inline-block;
  padding: 10px;
  background-color: #24292e;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.github-button img {
  display: inline-block;
}
.github-button span {
  display: inline-block;
  vertical-align: middle;
}
a#github {
  z-index: 1000
}

svg#github {
  fill: #000;
  color: #fff;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
  z-index: 1000
}

svg#github:hover .octo-arm {
  animation: wave 560ms ease-in-out
}